# python
*.egg-info/
__pycache__/

# environment
.envrc
.python-version

# sphinx
docs/build/
docs/source/api/

# poetry
poetry.lock

# jupyter
*.ipynb
*.ipynb_checkpoints/

# misc
*.sublime-workspace
